
.full-window {
    text-align: center;
    position: relative;
    background-color: black;
    min-height: 100vh;
    height: auto;
}

.video-field {
    margin: auto;
    width: fit-content;
    position: relative;
}

.main-video {
    position: relative;
    max-height: 70vh;
    max-width: 100vw;
    height: auto;
    width: auto;
}

.overlay {
    position: absolute;
    text-align: center;
    top: 0;
    width: fit-content
}

.setting-menu {
    text-align: start;
    margin: 8px;
}

.setting-menu span {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

.setting-menu input {
    background: rgba(0, 0, 0, 0.2);
    color: white;
    margin-right: 8px;
    margin-top: 8px;
}

.setting-menu select {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

.head-field {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 8px;
    height: 20vh;
}

.head-field .head-canvas {
    height: 100%;
    min-width: 120px;
    transition: opacity 1s ease-in-out;
}

.head-field .head-canvas.detecting {
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.head-field .head-canvas.none {
    opacity: 0;
}

.head-field .head-canvas.found {
    opacity: 1.0;
}

.bottom-field {
    text-align: center;
    width: 100%;
    color: white;
}

.hint {
    font-size: 10vh;
    width: max-content;
    margin: auto;
}

.hint-field {
    width: auto;
}

.photo-canvas {
    height: 5vh;
    float: left;
}
